{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat_room.css' %}" >
    <title>H2H | Chatroom</title>
</head>
<body>
    <div id = 'top-bar' style="width: 100%; margin-bottom: 5px;">

        {% if user.is_authenticated %}
            <div style="margin-right: 90%; display: inline; width: fit-content;"><h2 style="position: relative; top:25%; color: white">Chats</h2></div>
      {% endif %}

    </div>
    {% if number_of_chats == 0 %}
    <div class="chat">
        You have no active chatrooms
    </div>
    {% endif %}

    {% for chatroom in buyer_chatrooms %}

    <div class="chat" >

        <div class="chat-image-div" display="inline-block" >
            <img class="chat-image" src="{{ chatroom.seller_profile_picture.url }}"/>
        </div>

        <div class ="chat-text" display="inline-block" >

            <form method="GET" action="chat_messaging">
                
                <input class="product" name="seller" type="text" value="{{chatroom.seller}}" style="border: none; display: inline;">
                <input class="product" name="buyer" type="hidden" value="{{chatroom.buyer}}" style="border: none; display: inline;">
                <input name="image" type="hidden" value="{{chatroom.image}}">
                <input name="buyer_profile_picture" type="hidden" value="{{chatroom.buyer_profile_picture}}">
                <input name="seller_profile_picture" type="hidden" value="{{chatroom.seller_profile_picture}}">
                <input name="product" type="hidden" value="{{chatroom.product}}">

                <input type="submit" value=">" style="background-color: white;display: inline;">
            </form>

        </div>

        <div class="post-image-div" display="inline-block" >
            <img class="post-image" src="{{ chatroom.image.url }}"/>
        </div>
        
    </div>
    {% endfor %}

    {% for chatroom in seller_chatrooms %}
    <div class="chat" >

        <div class="chat-image-div" display="inline-block" >
            <img class="chat-image" src="{{ chatroom.buyer_profile_picture.url }}"/>
        </div>

        <div class ="chat-text" display="inline-block" >

            <form method="GET" action="chat_messaging">
                
                <input class="product" name="buyer" type="text" value="{{chatroom.buyer}}" style="border: none; display: inline;" readonly>
                <input class="product" name="seller" type="hidden" value="{{chatroom.seller}}" style="border: none; display: inline;">
                <input name="image" type="hidden" value="{{chatroom.image}}">
                <input name="buyer_profile_picture" type="hidden" value="{{chatroom.buyer_profile_picture}}">
                <input name="seller_profile_picture" type="hidden" value="{{chatroom.seller_profile_picture}}">
                <input name="product" type="hidden" value="{{chatroom.product}}">

                <input type="submit" value=">" style="background-color: white;display: inline;">
            </form>

        </div>

        <div class="post-image-div" display="inline-block" >
            <img class="post-image" src="{{ chatroom.image.url }}"/>
        </div>
        
    </div>
    {% endfor %}

    <div style="position: fixed; bottom: 0; width: 100%; left: 50%; transform: translateX(-50%)">
        <div id="footer">
                <div class = "footer_img"><a href="returnHome"><img src="{% static 'media/home.png' %}" id="home"/></a></div>
                <div class = "footer_img"><a href="chat_room" id="to-chat"><img src="{% static 'media/chat.png' %}" id="chats"/></a></div>
                <div class = "footer_img"><a href="profile" id="to-profile"><img src="{% static 'media/profile.png' %}" id="profile" /></a></div>
        </div>
    </div>
    
</body>
</html>