{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\login.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Inter">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="{% static 'login.js' %}"></script>
    <title>H2H | Login Page</title>
</head>
<body style = "background-color: white">
    <div id="box">
        <img src="{% static 'media/wm_logo_green.png' %}" style="margin-top: 10%; height: 60%;"/>
        <h1>Welcome to Market App <br> at William and Mary!</h1> <br>

        {% for message in messages %}
        <h5 class="messages" style="color: red">{{message}}</h5>
        {% endfor %}
        
        <h3 style="margin-top: 5px">Please enter your login information: </h3>
        <div id="input">
            <form method="POST" action="login">
                {% csrf_token %}
                <input type="text" name="username" class="user-input" placeholder="Enter username"/><br>
                <input id="password" type="password" name="password" class="user-input" placeholder="Enter password"/><br>
                <i class="far fa-eye" id="togglePwd" style="margin-left: 90%; transform: translate(0, -150%); cursor: pointer;" onclick="togglePassword()"></i>
                <input type="submit" class="submit-btn" value="Log In"/>
            </form>

            <div> <a href="forgot_screen">Forgot username and/or password? Click here!</a></div>
            <div> <a href="register">Don't have an account? Register here!</a></div>

        </div>

        <div>

        </div>
    </div>
</body>
</html>