{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <script src="{% static 'register.js' %}"></script>
    <title>H2H | Reset Password</title>
</head>
<body style = "background-color: white">
    <div id="box">
        <img src="{% static 'media/default_image.png' %}" />
        <h1>Welcome to H2H!</h1> <br>

        
        <div>
        {% for message in messages %}
        <h5 style="color: red">{{message}}</h5>
        {% endfor %}


            <form method="POST" action="">
                {% csrf_token %}
                <p>Re-enter your username</p>
                <input type="password" name="username" placeholder="">
                <p>Enter your new password</p>
                    <input type="password" name="password" placeholder="">
                <p>Confirm your new password</p>
                    <input type="text" name="password1" >

                <input type="submit">
            </form>
        </div>


        <div>

        </div>
    </div>
</body>
</html>