<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H2H</title>
</head>
<body>
    <h1>Create your Profile</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <p>First Name: </p><input type="text" name="first_name"/><br>
        <p>Last Name:</p><input type="password" name="last_name"/><br>

        <button type="submit">Upload</button>
    </form>

    <a href="returnHome"><button>Back to Home</button></a>
</body>
</html>