{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>H2H | Homepage</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'home.js' %}"></script>

</head>
<body>

    <div id = 'top-bar' style="width: 100%; margin-bottom: 5px;">

        <div style="margin-right: 90%; display: inline; width: fit-content; color: white"><h2 style="position: relative; top:25%">Home</h2></div>

        <div id="search-login">
            <div id='search-text'>
                <input id="text" type="text" name="input" autocomplete="on">
                <!-- <a><img id="search" onclick='moveSearchBar()'  src="{% static 'media/search.png' %}" style="width: 30px;"/></a> -->
                <p onclick="cancel()" onmouseover="cancel_on_or_off(true)" onmouseleave="cancel_on_or_off(false)" id="cancel">cancel</p>
            </div>
            
            {% if user.is_authenticated %}
            <a href="logout" ><button id="login">Logout</button></a>
            {% else %}
            <a href="login" ><button id="login">Login</button></a>
            {% endif %}   
        </div>
 
    </div>

    {% for message in messages %}
    <h5 class="message" >{{message}}</h5>
    {% endfor %}

    {% if number_of_posts == 0 %}
    <div class="post" style="text-align: center;">
        No posts at the moment.  Add a post or check in later!
    </div>
    {% endif %}

    <div id="search-screen"></div> <!-- DO NOT DELETE -->
    
    <div id="post-screen">


        {% for post in posts %}
        {% if not post.draft %}

        <div class="post" >

            <div class="post-image-div" display="inline-block" >
                <img class="post-image" src="{{ post.display_image.url }}"/>
            </div>

            <div class ="post-text" display="inline-block" >

                <form method="GET" action="productDescription">
                    <input class="product" name="product" type="submit" value="{{post.product}}" style="border: none; display: inline;" readonly>
                    <input class="username1" name="username" type="hidden" value="{{post.username}}" style="border: none; display: inline;">
                </form>
                <h4 class="username">{{post.username}}</h4>
                <h3 class="price">${{post.price}}</h3>

            </div>

            <div class="edit-post" id="edit-post" >

                <script type="text/javascript"></script> <!-- DO NOT DELETE -->

                <div class="buttons" onclick=edit_post() ><a><img src="{% static 'media/edit_post.png' %}" style="width: 20px"></a></div>
                <div class="post-drop-down" style="visibility: hidden;">
    
                    {% if user.is_authenticated and post.username == user.get_username %}

                    <form method="POST" action="edit_post">
                        {% csrf_token %}
                        <input class="product" name="product" type="hidden" value="{{post.product}}" style="border: none; display: inline;">
                        <input class="username1" name="username" type="hidden" value="{{post.username}}" style="border: none; display: inline;">
                        <input name="price" type="hidden" value="{{post.price}}">
                        <input name="description" type="hidden" value="{{post.description}}">
                        <input class="image" name="display_image" type="hidden" value="{{post.display_image.url}}" style="border: none; display: inline;">
                        <input type="submit" value="Edit Post" style="background-color: white; border: none;">
                    </form>

                    {% endif %}

                    {% if user.is_authenticated%}

                    <form method="POST" action="save_post">
                        {% csrf_token %}
                        <input class="product" name="product" type="hidden" value="{{post.product}}" style="border: none; display: inline;">
                        <input class="username1" name="username" type="hidden" value="{{post.username}}" style="border: none; display: inline;">
                        <input type="submit" value="Save Post" style="background-color: white; border: none">
                    </form>


                    <form method="POST" action="">
                        {% csrf_token %}
                        <input class="product" name="product" type="hidden" value="{{post.product}}" style="border: none; display: inline;">
                        <input class="username1" name="username" type="hidden" value="{{post.username}}" style="border: none; display: inline;">
                        <input type="submit" value="Flag Post" style="background-color: white; border: none;">
                    </form>
                    {% endif %}
        
                </div>

            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>


    {% if user.is_authenticated %}
    <a href="new_post"><img id="new-post" src="{% static 'media/plus_sign.png' %}"/></a>
    {% else %}
    <img id="new-post" src="{% static 'media/plus_sign.png' %}"  onclick="guest_post_error()" />

    {% endif %} 
    
    <div style="position: fixed; bottom: 0; width: 100%; left: 50%; transform: translateX(-50%)">
        <div id="footer">
                <div class = "footer_img"><a href="returnHome"><img src="{% static 'media/home.png' %}" id="home"/></a></div>
                <div class = "footer_img"><a href="chat_room" id="to-chat"><img src="{% static 'media/chat.png' %}" id="chats"/></a></div>
                <div class = "footer_img" id="search-footer" onclick='moveSearchBar()'><img src="{% static 'media/search-white-background.png' %}" id="profile" /></div>
                <div class = "footer_img"><a href="profile" id="to-profile"><img src="{% static 'media/profile.png' %}" id="profile" /></a></div>
        </div>
    </div>

   <script type="text/javascript"> 
   //Contains all JQuery/AJAX functions in the home screen

    //Clears the home screen whenever the user uses the search bar
    // $('#search').on('click', function(e) {
    //     e.preventDefault();
    //     $('#post-screen').css('display', 'none');
    //     $('#search-screen').css('display', 'block');
    //     document.getElementById('new-post').style.visibility = 'hidden';

    // });

    $('#search-footer').on('click', function(e) {
        e.preventDefault();
        $('#post-screen').css('display', 'none');
        $('#search-screen').css('display', 'block');
        $('#search').css('display', 'block');
        document.getElementById('new-post').style.visibility = 'hidden';

    });

    //Finds related post based on the users search
    $('#text').on('change', function(e) {
        e.preventDefault();
        $('#search-screen').empty();

        $.ajax({
                type: 'GET',
                url: "/search",
                success: function(response) {
                    var temp = "";
                    var prepositions = ['the', 'and', 'or', 'at', 'in', 'of'];
                    var input = document.getElementById('text').value.toLowerCase().split(" ").filter((value) => {
                            return !prepositions.includes(value);
                    });

                    var add_item = false;
                    console.log(input);

                    for (var key in response.posts) {
                        prod = response.posts[key].product.toLowerCase().split(" ").filter((value) => {
                            return ((value != 'and') && (value != 'the'))
                        });
                        
                        desc = response.posts[key].description.toLowerCase().split(" ").filter((value) => {
                            return ((value != 'and') && (value != 'the'))
                        });

                        input.forEach(element => {
                          if (prod.includes(element) || desc.includes(element)) {
                            add_item = true;
                          } 
                        });

                        if (add_item) {
                            temp = temp + `

                            <div class="post" >

                                <div class="post-image-div" display="inline-block" >
                                    <img class="post-image" src="media/${response.posts[key].display_image}"/>
                                </div>

                                <div class ="post-text" display="inline-block" >

                                    <form method="GET" action="productDescription">
                                        <input class="product" name="product" type="submit" value="${response.posts[key].product}" style="border: none; display: inline;" readonly>
                                        <input class="username1" name="username" type="hidden" value="${response.posts[key].username}" style="border: none; display: inline;">

                                    </form>
                                    <h4 class="username">${response.posts[key].username}</h4>
                                    <h3 class="price">$${response.posts[key].price}</h3>

                                </div>
                            </div>
                            `
                    }
                    add_item = false;

                    }

                    $('#search-screen').append(temp);
                },
                error: function(response) {

                }

            });

    });

    //clears the search screen and restores home screen
    $('#cancel').on('click', function(e) {
        e.preventDefault();
        $('#search-screen').empty();
        document.getElementById('text').value = "";
        document.getElementById('new-post').style.visibility = 'visible';
        $('#search-screen').css('display', 'none');
        $('#search').css('display', 'none');
        $('#post-screen').css('display', 'block');

    })
    
    </script>
</body>
</html>