{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_style.css' %}">
    <title>Document</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

</head>
<body id="body">

    <div id = 'top-bar' style="width: 100%; margin-bottom: 5px;">

        {% if user.is_authenticated %}
            <div style="margin-right: 90%; display: inline;"><h2 style="display: inline; ">Welcome, {{user.username}}!</h2></div>
        {% else %}
            <div style="margin-right: 90%; display: inline;"><h2 style="display: inline; ">Welcome, Guest!</h2></div>
        {% endif %}
        <img id="search" src="{% static 'media/search.png' %}" style="display: inline; width: 30px;"/>

        {% if user.is_authenticated %}
        <a href="logout"><button>Logout</button></a>
        {% else %}
        <a href="login"><button>Login</button></a>
        {% endif %}    </div>
    
    {% for post in posts %}
    <div class="post">
        <div style="display: inline;">
            <p id="product">{{post.product}}</p>
            <img id="post-image" src="{{ post.image.url }}" onclick=my_func()/>
        </div>
        <div class ="text">
            <h3 class="product_description">{{post.product}}</h3>
            <h4 class="user">{{post.username}}</h4>
            <h3 class="price">${{post.price}}</h3>

        </div>
    </div> 
    {% endfor %}


    
    <a href="new_post"><img src="{% static 'media/plus_sign.png' %}" style="position: sticky; right: 10px; width: 50px; margin-left: 90%;" /></a>
    <footer>
        <ul>
            <li class = "footer_img"><a href="{% static 'main.html' %}"><img src="{% static 'media/default_image.png' %}" id="home"/></a></li>
            <li class = "footer_img"><a><img src="{% static 'media/default_image.png' %}" id="chats"/></a></li>
            <li class = "footer_img"><a><img src="{% static 'media/default_image.png' %}" id="profile" /></a></li>
        </ul>
   </footer>
   <!-- <script>
    $(document).ready(function() {
        //setInterval(function(){
            $.ajax({
                type: 'GET',
                url: "{% url 'getImage' %}",
                success: function(response) {
                    $("#front").empty();
                    for(var key in response.posts) {
                        prod = response.posts[key].product
                        
                        let string = '<img id="post-image" src="'
                        string = string.concat("{% static 'post_images/")
                        // <img id='post-image' src="{% static 'post_images/Airpods.jpg' %}"/>
                        // <img id='post-image' src="{% static 'post_images/Airpods.jpg' %}"/>

                        string = string.concat(prod)
                        string = string.concat(".jpg' %}", '"/>')
                        console.log(string)

                    $("#front").append(string);
                    }
                },
                error: function(response) {
                    alert('Error getting data')
                }
            })

        },1000) 

    //}); 
   </script> -->
</body>
</html>