{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title>H2H | My Profile</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script src="{% static 'profile.js' %}"></script>

</head>
<body>

    <div id = 'top-bar' style="width: 100%; margin-bottom: 5px;">

        <div style="margin-right: 90%; display: inline; width: fit-content;"><h2 style="position: relative; top:25%; color: white">My Profile</h2></div>

 
    </div>

    <div id="profile1">
        <div id="profile-image-div">
            {% if hasProfile %}
            <img id="profile-image" src="{{ profile.profile_picture.url }}"/>
            {% else %}
            <img id="profile-image" src="{% static 'media/empty_profile.jpg' %}"/>
            {% endif %}
        </div>
        <div id="profile-text">
            {% if hasProfile %}
            <h1 id="profile-name">{{username}}</h1>
            {% else %}
            <h1 id="profile-name">Guest</h1>
            {% endif %}

            <a href="edit_profile"><button><h3 id="edit-profile">Edit Profile</h3></button></a>
        </div>
    </div>
    <div id="selector" style="display: flex;">
        <div id="show-sell-history" onclick="sell_history()" onmousedown="pressed_sell_history(true)" onmouseup="pressed_sell_history(false)">Sell History</div>
        <div id="show-saved-posts" onclick="saved_posts()" onmousedown="pressed_saved_posts(true)" onmouseup="pressed_saved_posts(false)">Saved Posts</div>
        <div id="show-drafts" onclick="drafts()" onmousedown="pressed_drafts(true)" onmouseup="pressed_drafts(false)">Drafts</div>

    </div>

    <div id="sell-history">
    <p class="text">Sell History</p>

        {% for post in posts %}
            {% if not post.draft %}
            <div id="posts">
                <div class="post-image-div" display="inline-block" >
                    <img class="post-image" src="{{ post.display_image.url }}"/>
                </div>
                <div class ="post-text" display="inline-block" >
                    <h3 class="product">{{post.product}}</h3>
                    <h3 class="price">${{post.price}}</h3>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

    <div id="saved-posts" style="display: none;">
    <p class="text">Saved Posts</p>

        {% for saved_post in saved_posts %}
        <div id="saved-posts-inner">
            <div class="post-image-div" display="inline-block" >
                <img class="post-image" src="{{ saved_post.display_image.url }}"/>
            </div>
            <div class ="post-text" display="inline-block" >
                <h3 class="product">{{saved_post.product}}</h3>
                <h3 class="price">${{saved_post.price}}</h3>
            </div>
        </div>
        {% endfor %}

    </div>

    <div id="drafts" style="display: none;">
        <p class="text">Drafts</p>
    
            {% for draft in drafts %}
            <div id="drafts-inner">
                <div class="post-image-div" display="inline-block" >
                    <img class="post-image" src="{{ draft.display_image.url }}"/>
                </div>
                <div class ="post-text" display="inline-block" >
                    <form method="POST" action="edit_post">
                        {% csrf_token %}
                        <input class="product" name="product" type="hidden" value="{{draft.product}}" style="border: none; display: inline;">
                        <input class="username1" name="username" type="hidden" value="{{draft.username}}" style="border: none; display: inline;">
                        <input name="price" type="hidden" value="{{draft.price}}">
                        <input name="description" type="hidden" value="{{draft.description}}">
                        <input class="image" name="display_image" type="hidden" value="{{draft.display_image.url}}" style="border: none; display: inline;">
                        <input type="submit" value="{{draft.product}}" style="background-color: white; border: none;">
                    </form>
                    <h3 class="product">{{draft.product}}</h3>
                    <h3 class="price">${{draft.price}}</h3>
                </div>
            </div>

            {% endfor %}

        </div>

        <div style="position: fixed; bottom: 0; width: 100%; left: 50%; transform: translateX(-50%)">
            <div id="footer">
                    <div class = "footer_img"><a href="returnHome"><img src="{% static 'media/home-05.png' %}" id="home"/></a></div>
                    <div class = "footer_img"><a href="chat_room" id="to-chat"><img src="{% static 'media/message-chat-square.png' %}" id="chats"/></a></div>
                    <div class = "footer_img"><a href="profile" id="to-profile"><img src="{% static 'media/user-01.png' %}" id="profile" /></a></div>
            </div>
        </div>

</body>
</html>