{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <script src="{% static 'register.js' %}"></script>
    <title>Login Page</title>
</head>
<body style = "background-color: white">
    <div id="box">
        <img src="{% static 'media/default_image.png' %}" />
        <h1>Welcome to H2H!</h1> <br>
        <!-- <div id="input">
            <div class="user-pass">
                <input type="text" id="username" placeholder="Please Enter your School Email Here" required>
                <button id="send-code">Send Code</button>
            </div><br>
            <div class="user-pass">
                <input type="text" id="password" placeholder="Please Enter your Verification Code Here" required>
            </div><br>
            <div style="margin: 5px"><input type="checkbox"><label>I have read and agreed to the <a href="">Terms and Conditions</b></a> and <a href=""><b>Privacy Policy</b></a></label></div>
            <br><button id="sigb-up"><a href="{% static 'login.html' %}">Sign up</a></button>
            <br>
        </div> -->
        
        <div>
        {% for message in messages %}
        <h5 style="color: red">{{message}}</h5>
        {% endfor %}

            <form method="POST" action="register">
                {% csrf_token %}
                <p>Username:</p>
                    <input type="text" name="username" placeholder="Enter your username">
                <p>Email:</p>
                    <input type="text" name="email" placeholder="Enter your school email" >
                <p>Password:</p>
                    <input type="password" name="password" placeholder="Enter your password">        
                <p>Confirm Password:</p>
                    <input type="password" name="password2" placeholder="Confirm your password"><br>
                
                <input type="submit">
            </form>
        </div>


        <div>

        </div>
    </div>
</body>
</html>