{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'settings.css' %}">
    <title>H2H | Settings</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script src="{% static 'settings.js' %}"></script>

</head>
<body>

    <div id = 'top-bar' style="width: 100%; margin-bottom: 5px;">
        <div style="margin-right: 90%; display: inline; width: fit-content;"><h2 style="position: relative; top:25%; color: white">Settings</h2></div>
 
        {% if user.is_authenticated %}
        <div><a href="logout" ><button id="login">Logout</button></a></div>
        {% else %}
        <div><a href="login" ><button id="login">Login</button></a></div>
        {% endif %}   
    </div>

    <div id="main-window" >

        <div id="main-screen">
            <div class="section">
                <div class="header">Account Settings</div>
                <ul>
                    <li onclick="switchToChangePassword()">Change Password</li>
                    <li onclick="switchToChangeProfilePicture()">Change Profile Picture</li>
                </ul>
            </div>
            <div class="section">
                <div class="header">Notification Settings</div>
                <ul>
                    <li>
                        <div>
                            <div>Chat Notifications</div>
                            <div class="slider">
                                <div class="slider-inner">
                                    <div class="slider-inner-inner" onclick="toggle(event)"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div>
                            <div>Liked Post Notifications</div>
                            <div class="slider">
                                <div class="slider-inner">
                                    <div class="slider-inner-inner" onclick="toggle(event)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="section">
                <div class="header">Display Settings</div>
                <ul>
                    <li>
                        Light Mode
                        <div class="slider">
                            <div class="slider-inner">
                                <div class="slider-inner-inner" onclick="toggle(event)"></div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            
            <div class="section" style="margin-top: 50px;">
                <div class="additional">View Privacy Policy</div>
                <div class="additional">View Terms of Use</div>

            </div>

            <div id="contact-info"> 
                Contact Us at marketappwm@gmail.com
            </div>
            
        </div>
            
        <div id="change-password" style="display: none;">
        
            <div>
                <div class="header">
                    <div>
                        Change Password
                    </div>
                </div>

                <div class="password-form">
                    <form action="change_password" method="POST">
                        {% csrf_token %}
                        <input name="password" placeholder="Enter password">
                        <input name="confirm-password" placeholder="Confirm password">

                        <input type="submit">

                    </form>
                </div>
                
                <div onclick="switchToAccountSettings()" style="display: block;">
                    <svg width="20" height="15" style="padding-left: 10px">
                        <circle cx="10" cy="6.5" r="5" stroke="black" stroke-width="1" fill="white" />
                        <line x1="15" y1="11" x2="20" y2="15" stroke="black" />
                        </svg> 
                </div>
            </div>
                        
        </div>

        <div id="change-profile-picture" style="display: none;">        
            <div>
                <div class="header">
                    <div>
                        Change Profile Picture
                    </div>
                </div>
                <div class="password-form">
                    <form action="" method="POST">
                        {% csrf_token %}

                        <div id="profile-image-div">
                            <label for="image-input">
                                <img id="profile-image" src="{{ profile.profile_picture.url }}">
                            </label>
                        </div>
                        
                        <div style="display: block; margin: auto"><input id="image-input" name="profile_picture" type="file" accept="image/*" onchange="readURL(this)"></div>
                        <div style="display: block; margin: auto"><input type="submit"></div>
    
                    </form>
                </div>
                <div onclick="switchToAccountSettings()" >
                    <svg width="20" height="15" style="padding-left: 10px">
                        <circle cx="10" cy="6.5" r="5" stroke="black" stroke-width="1" fill="white" />
                        <line x1="15" y1="11" x2="20" y2="15" stroke="black" />
                      </svg> 
                </div>
            </div>
                        
        </div>


        <div style="position: fixed; bottom: 0; width: 100%; left: 50%; transform: translateX(-50%)">
            <div id="footer">
                    <div class = "footer_img"><a href="returnHome"><img src="{% static 'media/home.png' %}" id="home"/></a></div>
                    <div class = "footer_img"><a href="chat_room" id="to-chat"><img src="{% static 'media/chat.png' %}" id="chats"/></a></div>
                    <div class = "footer_img"><a href="profile" id="to-profile"><img src="{% static 'media/profile.png' %}" id="profile" /></a></div>
            </div>
        </div>

        <script type="text/javascript">
        // https://stackoverflow.com/questions/12368910/html-display-image-after-selecting-filename

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#profile-image').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
</body>
</html>