#top-bar {
    border-bottom: 7px solid rgb(185, 151, 91);
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(17, 87, 64);
}

button:hover {
    background-color: rgb(185, 151, 91);
}



#profile-text {
    /* border: 1px solid green ; */
    width: 30%;
    position: relative;
    float: right;
    right: 42.5%

}

#prompt {
    display: none;
    position: absolute;
    left: 40%;
    top: 40%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px;
    z-index: 2;
}

#profile1 {
    margin: auto;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid red ; */
    border-left: 1px solid rgb(191, 188, 188);
    border-right: 1px solid rgb(191, 188, 188);
    height: 200px;
    width: 60%;

}

#section {
    background-color: white;
    width: 60%;
    padding: 0px 10px 0px 10px;
    margin: auto;
    border: 1px solid rgb(191, 188, 188) ;
    height: fit-content;
    margin-bottom: 100px;
}

#cancel {
    color: gray;
    width: fit-content;
    display: inline;
    position: relative;
    left: 95%;

}

.submit-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    height: 50px;
    width: 100%;
    border: none;
    background-color: #115740;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


#publish {
    color: gray;
    width: fit-content;
    text-align: right;
    position: relative;
    left: 92.5%;
    display: inline

}

.form-input {
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    border-right: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;

}

.form-input-label {
    width: 80%;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;

}

label {
    color: gray
}



#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin: auto;
    padding: 20px 10px 0px 10px;
    background-color: white;
    width: 60%;
    border-top: 3px solid rgb(185, 151, 91)
}


.footer_img {
    width: 50px;
    display: inline-block;
}

#home, #profile, #chats {
    width: 50px;
}

@media (max-width: 700px) {
    #section {
        width: 100%;
    }
    #footer {
        width: 100%;
        border-top: 7px solid rgb(185, 151, 91);
        border-radius: 0%;
        gap: 18%
    }

}