#top-bar {
    border-bottom: 2px solid rgb(191, 188, 188)
}

#search-login {
    position: absolute;
    right: 0;
    top: 5%
}

#login {
    position: absolute;
    right: 0
}


body {
    overflow: scroll;
}

.section {
    border: 1px solid rgb(191, 188, 188) ;
    width: 60%;
    padding: 10px 10px 10px 10px;
    margin: auto;
    height: fit-content;
}

.product {
    font-weight: bold;
    font-size: x-large
}

#profile-image {
    width: 150px;
    border-radius: 25%;
    margin-left: 10%;
    display: auto;
    
}

#profile-image-div {
    width: 25%;
    border-radius: 50px;
    /* border: 1px solid blue ; */
    display: inline;
    float: left;

}

#profile-text {
    /* border: 1px solid green ; */
    width: 30%;
    position: relative;
    float: right;
    right: 42.5%

}

#profile1 {
    margin: auto;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid red ; */
    border-left: 1px solid rgb(191, 188, 188);
    border-right: 1px solid rgb(191, 188, 188);
    height: 200px;
    width: 60%;

}

.post-image {
    width: 150px;
    border-radius: 25%;
    margin-left: 10%;
}

.post-image-div{
    width: 150px;
    display: inline-block;
    border-radius: 50px;

}

.post-text {
    display: inline-block;
    border-color:red;
    border-width: 10px;
    margin-left: 40px;
    width: 200px;

}


footer {
    display: block;
    background-color: white;
    position: fixed;
    bottom: 0;
    /* border: 1px solid rgb(233, 19, 19) ; */
    /* margin: auto; */
    width: 50%;
    margin-left: 25%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

.footer_img {
    width: 50px;
    display: inline-block;
    margin-left: 20%;
}

#search {
    position: relative;
}


#new-post:hover {
    filter: invert(100%) sepia(26%) saturate(3818%) hue-rotate(167deg) brightness(108%) contrast(107%);
      
}

#home, #profile, #chats {
    width: 50px;
    transition: 0.5s filter
}


#home:hover, #profile:hover, #chats:hover {
    filter: invert(100%) sepia(26%) saturate(3818%) hue-rotate(167deg) brightness(108%) contrast(107%);
      
}

