body {
    overflow: scroll;
}


#top-bar {
    border-bottom: 2px solid rgb(191, 188, 188)
}


#profile-text {
    /* border: 1px solid green ; */
    width: 30%;
    position: relative;
    float: right;
    right: 42.5%

}

#prompt {
    display: none;
    position: absolute;
    left: 40%;
    top: 40%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px;
    z-index: 2;
}

#profile1 {
    margin: auto;
    padding: 10px 10px 10px 10px;
    /* border: 1px solid red ; */
    border-left: 1px solid rgb(191, 188, 188);
    border-right: 1px solid rgb(191, 188, 188);
    height: 200px;
    width: 60%;

}

#section {
    width: 60%;
    padding: 10px 10px 10px 10px;
    margin: auto;
    border: 1px solid rgb(191, 188, 188) ;
    height: fit-content;
}

#cancel {
    color: gray;
    width: fit-content;
    display: inline;
    position: relative;
    left: 95%;

}

#publish {
    color: gray;
    width: fit-content;
    text-align: right;
    position: relative;
    left: 92.5%;
    display: inline

}

footer {
    display: block;
    background-color: white;
    position: fixed;
    bottom: 0;
    /* border: 1px solid rgb(233, 19, 19) ; */
    /* margin: auto; */
    width: 50%;
    margin-left: 25%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

.footer_img {
    width: 50px;
    display: inline-block;
    margin-left: 20%;
}

#home, #profile, #chats {
    width: 50px;
}

