#top-bar {
    border-bottom: 7px solid rgb(185, 151, 91);
    background-color: rgb(17, 87, 64);
    position: sticky;
    top: 0;
    height: 80px;
    width: 90%;
    z-index: 1
}

#search-login {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 3%;
    height: fit-content;
    /* border: 1px solid red; */
    width: 500px;
}

button:hover {
    background-color: rgb(185, 151, 91);
}

#search-text {
    position: relative;
    left: 150px;
    height: fit-content;
    /* animation: moveleft 1s */
    animation-fill-mode: forwards
}



@keyframes moveleft {
    0% {right: 0px;}
    100% {left: 0px;
        right: 10px;} 
}

#login {
    position: relative;
    top: 10px;
    right: 10px
}


body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(17, 87, 64);
}

.message {
    background-color: green;
    color: white;
    transition: ease-out;
    animation: mymove 10s;
    position: fixed;
    top: 100px;
    left: 20px;
    width: 10%;
    padding: 10px;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    from {opacity: 1;}
    to {opacity: 0;}
}

#search {
    display: none;
    position: relative;
    left: 20px;
    top: 10px;
}


#cancel, #text {
    visibility: hidden;
    display: inline;
    position: relative;
    left: 20px
}

#text {
    visibility: hidden;
}


.message:after {
    visibility: hidden;
}

.post {
    display: flex;
    flex-direction: row;
    background-color: white;
    z-index: -1;
    width: 60%;
    margin: auto;
    border: 1px solid rgb(191, 188, 188) ;
    height: 200px;
}

.product {
    font-weight: bold;
    font-size: x-large;
    background-color: white;
    width: fit-content;
    border: 1px solid red
}

.product:hover {
    text-decoration-line: underline;
}

.username {
    font-weight: lighter;
}

.post-image {
    width: 150px;
    border-radius: 25%;
    margin-left: 10%;
    height: 180px;
    position: relative;
    top: 10px
}

#post-screen {
    z-index: -2;
    padding-bottom: 150px;
}

.post-image-div {
    width: 150px;
    display: inline-block;
    border-radius: 50px;

}

.post-text {
    display: inline-block;
    border-width: 10px;
    margin-left: 40px;
    width: 70%;
    padding-top: 20px;
    overflow: hidden

}

.edit-post {
    /* border: 1px solid red */
}

#search-screen {
    display: none;
}


.buttons {
    position: relative;
    left: 70%;
    top: 10px
}

.post-drop-down {
    /* display: inline-block; */
    visibility: hidden;
    position: relative;

}

#add-post {
    position: absolute;
    width: 50px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin: auto;
    padding-top: 20px;
    background-color: white;
    width: 60%;
    border-top: 3px solid rgb(185, 151, 91)
}


.footer_img {
    width: 50px;
    display: inline-block;
    border-radius: 50%;
}

#search {
    position: relative;
}

#new-post {
    position: fixed;
    margin: auto;
    bottom: 5%;
    border-radius: 50%;
    width: 75px;
    left: 50%; 
    transform: translateX(-50%);
    z-index: 3;
    transition: 0.5s filter;
}

#new-post:hover {
    filter: invert(61%) sepia(70%) saturate(286%) hue-rotate(360deg) brightness(89%) contrast(81%);      
      
}

#home, #profile {
    width: 50px;
    transition: 0.5s filter;
    border-radius: 50%;
    border: 3px solid black;
}

#chats {
    width: 50px;
    transition: 0.5s filter;
    border-radius: 50%;
    border: 1.75px solid black;
}


#home:hover, #profile:hover, #chats:hover {

    filter: invert(61%) sepia(70%) saturate(286%) hue-rotate(360deg) brightness(89%) contrast(81%);      
}

@media (max-width: 700px) {
    .post {
        width: 100%;
        height: 200px;
    }
    #footer {
        width: 100%;
        border-top: 7px solid rgb(185, 151, 91);
        border-radius: 0%;
        gap: 18%
    }
    .post-text {
        width: 55%;
    }
    .message {
        width: 40%
    }
}