#top-bar {
    border-bottom: 2px solid rgb(191, 188, 188)
}

#search-login {
    display: block;
    position: absolute;
    right: 0;
    top: 3%;
    height: fit-content;
    /* border: 1px solid red; */
    width: 500px;
}

#search-text {
    position: relative;
    left: 150px;
    height: fit-content;
    /* animation: moveleft 1s */
    animation-fill-mode: forwards
}



@keyframes moveleft {
    0% {right: 0px;}
    100% {left: 0px;
        right: 10px;} 
}

#login {
    position: relative;
    top: 10px;
    left: 400px
}


body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.message {
    background-color: green;
    color: white;
    transition: ease-out;
    animation: mymove 10s;
    position: absolute;
}

@keyframes mymove {
    from {opacity: 1;}
    to {opacity: 0;}
}

#search {
    position: relative;
    left: 20px;
    top: 10px;
}


#cancel, #text {
    visibility: hidden;
    display: inline;
    position: relative;
    left: 20px
}

#text {
    visibility: hidden;
}


.message:after {
    visibility: hidden;
}

.post {
    width: 60%;
    padding: 10px 10px 10px 10px;
    margin: auto;
    border: 1px solid rgb(191, 188, 188) ;
    height: 225px;
}

.product {
    font-weight: bold;
    font-size: x-large;
    background-color: white;
}

.product:hover {
    text-decoration-line: underline;
}

.username {
    font-weight: lighter;
}


.post-image {
    width: 150px;
    border-radius: 25%;
    margin-left: 10%;
    height: 180px;
    position: relative;
    top: 10px
}

.post-image-div {
    width: 150px;
    border-color:red;
    display: inline-block;
    border-radius: 50px;

}

.post-text {
    display: inline-block;
    border-color:red;
    border-width: 10px;
    margin-left: 40px;
    width: 200px;

}

.edit-post {
    display: inline-block;
    position: relative;
    margin-left: 90%;
    bottom: 220px;
    /* border: 1px solid red */
}

#search-screen {
    display: none;
}


.buttons {
    position: relative;
    left: 70%;
    top: 10px
}

.post-drop-down {
    /* display: inline-block; */
    visibility: hidden;
    position: relative;

}

#add-post {
    position: absolute;
    width: 50px;
}

footer {
    display: block;
    background-color: white;
    position: fixed;
    bottom: 0;
    /* border: 1px solid rgb(233, 19, 19) ; */
    /* margin: auto; */
    width: 50%;
    margin-left: 25%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

.footer_img {
    width: 50px;
    display: inline-block;
    margin-left: 20%;
}

#search {
    position: relative;
}

#new-post {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    transition: 0.5s filter;
}

#new-post:hover {
    filter: invert(100%) sepia(26%) saturate(3818%) hue-rotate(167deg) brightness(108%) contrast(107%);
      
}

#home, #profile, #chats {
    width: 50px;
    transition: 0.5s filter
}


#home:hover, #profile:hover, #chats:hover {
    filter: invert(100%) sepia(26%) saturate(3818%) hue-rotate(167deg) brightness(108%) contrast(107%);
      
}

