@import url(https://fonts.google.com/specimen/Inter);

img {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title {
    /* font-family: 'arial'; */
    font-size: 40px;
    color: white;
    left: 37.5%;
    top: 30%;
    position: fixed;
    transform: rotate(-25deg);
    z-index: 2;
}

@media (max-width: 700px) {
    img {
        width: 75%;
    }
    .title {
        top: 25%;
        left: 17.5%
    }
}