#top-bar {
    border-bottom: 7px solid rgb(185, 151, 91);
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(17, 87, 64);
}

button:hover {
    background-color: rgb(185, 151, 91);
}



.section {
    background-color: white;
    width: 60%;
    padding: 10px 10px 10px 10px;
    margin: auto;
    border: 1px solid rgb(191, 188, 188) ;
    height: fit-content;
}

#cancel {
    color: gray;
    width: fit-content;
    display: inline;
    position: relative;
    left: 95%;

}

#publish {
    color: gray;
    width: fit-content;
    text-align: right;
    position: relative;
    left: 92.5%;
    display: inline

}

footer {
    display: block;
    background-color: white;
    position: fixed;
    bottom: 0;
    /* border: 1px solid rgb(233, 19, 19) ; */
    /* margin: auto; */
    width: 50%;
    margin-left: 25%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}


.footer_img {
    width: 50px;
    display: inline-block;
    margin-left: 20%;
}

#home, #profile, #chats {
    width: 50px;
}