
#image-div {
    float: left;
    width: 45%;
}

#right {
    float: right;
    position: relative;
    right: 200px;
    top: 100px;
    width: 40%;
    height: 400px;
    border: 1px solid gray;

}

#image {
    height: 570px;
    float: right;
}

#profile {
    display: inline;
}
#profile-picture {
    width: 70px;
}

#username {
    display: inline;
    position: relative;
    bottom: 30px

}

#description {
    display: block;
    border-top: 1px solid gray;

}

#product {
    margin-top: 30px
}

#footer {
    position: relative;
    top: 100px;
    margin-bottom: 0px;

}

#message {
    position: relative;
    width: 70px;
    height: 30px;
    text-align: center;
    float: right;
    right: 10px;
    bottom: 40px;
    background-color: rgb(127, 189, 255);
    border-radius: 20%;
    transition: border 0.5s 
}

#message:hover {
    border: 3px solid black;

}

#price {
    position: relative;
    left: 10px
}