#sign-up {
    background-color: rgb(189, 189, 242);
    width: 100px;
    border-radius: 10%;

}
img {
    width: 50%;
}

#box {
    text-align: center;
    margin: auto;
    width: 50%;
}

.text {
    color: white;
}

.user-pass {
    margin: 5px;
}

#username, #password {
    width: 250px;
    border-color: rgb(210, 210, 210);
}

.user-input {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #BABABA;
    padding: 10px 0;
    background: transparent;
    color: white;
}

.submit-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: #115740;
    cursor: pointer;
    font-weight: bold;
}

a {
    margin-bottom: 10px; 
    text-decoration: none;
    color: gray;
    font-family: 'Inter';
}

a:hover {
    color: white;
}