#sign-up {
    background-color: rgb(189, 189, 242);
    width: 100px;
    border-radius: 10%;

}
img {
    width: 50%;
}

#box {
    text-align: center;
    margin: auto;
    width: 50%;
}

.user-pass {
    margin: 5px;
}

#username, #password {
    width: 250px;
    border-color: rgb(210, 210, 210);
}